/* In your Tailwind CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 227, 188;
  --background-end-rgb: 245, 227, 188;
  --gradient-color: 245, 227, 188;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      rgba(var(--gradient-color), 1),
      /* Light orange */ rgba(var(--gradient-color), 1) calc(50% - 400px),
      /* Light orange - 50% from left minus half of page width */
        rgb(var(--background-start-rgb)) calc(50% - 400px),
      /* Background start - 50% from left minus half of page width */
        rgb(var(--background-start-rgb)) calc(50% + 400px),
      /* Background start - 50% from left plus half of page width */
        rgba(var(--gradient-color), 1) calc(50% + 400px),
      /* Light orange - 50% from left plus half of page width */
        rgba(var(--gradient-color), 1) /* Light orange */
    ),
    rgb(var(--background-start-rgb));
}

.Logo {
  font-family: "Cedarville Cursive", cursive;
  /* color: #021627; */
  color: #0e311f;
}
.navbarText {
  color: #0e311f;
  font-family: "Cedarville Cursive", cursive;
}

/* .intro {
  font-family: 'Mansalva', sans-serif;
  color: #0e311f;
  font-size: 50px;
}



.name {
  font-weight: normal;
} */
.intro {
  font-family: "Mansalva", sans-serif;
  color: #0e311f;
  font-size: 50px;
  /* display: flex;
  flex-direction: column; */
}
.hey-there {
  display: inline;
  font-weight: 600;
}
.name {
  font-weight: 600;
  font-weight: normal;
}

@media (max-width: 768px) {
  .experience {
    position: absolute;
    left: 120px !important;
    right: -37px !important;
    margin-top: 0.5px !important;
    top: 585px !important;
    /* align-items: center !important; */
  }
  .experience_number h1 {
    position: absolute;
    left: -198px;
    top: -70px !important; 
    text-align: center !important;
  }
  .experience_text {
    position: absolute;
    left: -198px;
    top: -70px !important;
    text-align: center !important;
  }
  .icons_span{
    display: flex;
    position: absolute;
    margin-top: 22px;
    left: -70px
  }
}

.experience {
  position: absolute;
  right: 195px;
  top: 98px;
  margin: -26px;
}
.experience_text {
  font-weight: 600;
  color: #0e311f;
  margin-top: 16px;
  position: absolute;
  right: 66px;
}
.experience_number {
  position: absolute;
  right: 1px;
  /* font-weight: 600; */
  top: -11px !important;
}
.experience_number h1 {
  font-weight: 600 !important;
  font-size: 5em !important;
  color: #0e311f;
}

@media (min-width: 768px) {
  .intro {
    flex-direction: row;
  }

  .intro > h1,
  .intro > h2 {
    margin-right: 20px;
  }
  .e_mail {
    flex-direction: row;
    position: relative;
    top: -20px;
  }
}

.homeImg {
  padding: 10px;
}

.aboutpara {
  font-family: "Single Day", cursive;
  color: #0e311f;
  position: relative;
  top: 10px;
}
.mainImg {
  /* object-fit: contain; */
  border-radius: 50%;
  width: 170px;
  height: 170px;
  position: relative;
  top: -8px;
}
@media screen and (min-width: 767px) {
  .mainImg {
    flex-direction: row;
    position: relative;
    top: -8px;
    margin-top: 28px;
  }
  .e_mail {
    flex-direction: row;
    position: relative;
    top: -20px;
  }
}
@media (max-width: 767px) {
  .e_mail {
    position: absolute !important;
    top: 580px !important;
    margin-top: 25px;
  }
  .experience {
    position: absolute;
    left: 120px;
    right: 130px;
    margin-top: 0.5px;
  }
  .experience_number h1 {
    position: absolute;
    left: -198px;
    top: -70px !important;
  }
  .experience_text {
    position: absolute;
    left: -198px;
    top: -70px !important;

    text-align: center !important;
  }
  .cert{
    position: absolute;
    top: 18px;
    left: 9px;
    right: 130px;
    margin-top: 0.5px;

  }
  .cert_mern{
    display: grid !important;
    position: relative !important;
    left: 36px !important;
    top: 328px !important;
    width: 423px !important;
  }
  .cert_jp{
    display: grid;
    position: relative;
    right: 302px;
    top: 618px;
  }
  .strong_jp{
    font-weight: bolder;
    display: -webkit-inline-box;
  }
}
/* @media screen and (min-width: 446px) and (max-width: 768px) {
  .experience {
    position: absolute;

  }
  .experience_number h1 {
    position: absolute;
    left: -198px;
    top: -70px !important;
  }
  .experience_text {
    position: absolute;
    left: -198px;
    top: -70px !important;

    text-align: center !important;
  }
} */

.cert{
  position: absolute;
    top: 418px !important;
    right: 168px !important;
    width: 843px !important;
    height: 271px !important;
    display: flex !important;
    gap: 17px !important;
}

.cert h4{
  font-family: "Mansalva", sans-serif;
  color: #0e311f;
}
@media (max-width: 375px) {
  .e_mail {
    position: absolute !important;
    top: 580px !important;
  }
}
.e_mail {
  position: absolute;
  top: 350px;
}
.emailHad {
  font-family: "Playfair Display", serif !important;
  /* font-optical-sizing: auto !important; */
  font-weight: 700 !important;
}

.icons {
  margin: 20px;
}

.icons_img {
  width: 20px;
}
.cert{
  /* display: inline; */
  position: absolute;
  top: 418px;
  right: 459px;
  width: 547px;
  height: 271px;
  display: flex;
  gap: 69px;
}


.mern_img{
  width: 300px;
}
.jp_img{
  width: 300px;
}
@media screen and (min-width: 775px) and (max-width: 1545px){
.cert {
    position: absolute;
    align-items: center;
    left: 30%;
}
}
@media screen and (max-width:774px) {
  .cert {
    align-items: center;
    left: 30%;
}
}

.allexperience {
  position: absolute;
  bottom: 0px;
  left: 32%;
  align-items: center;
  display: flex;
  gap: 250px;
  margin-top: 20px; 
  margin-bottom: -70px;
}
